{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "semi": true,
  "singleQuote": false,
  "importOrder": ["^components/(.*)$", "^[./]" ],
  "importOrderSeparation": true, 
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
